* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", system-ui;
}
.spacing {
    margin-left: 50px;
    margin-right: 50px;
}
.flexing {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    margin-top: 20px;
}
.nav-list {
    list-style-type: none;
    gap: 40px;
}
.nav-button a {
    color: white;
    background-color: black;
    padding: 9px 15px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
}

a:hover{
    font-size:18px;
    transform: scale(1.1, 1.1);
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: black;
}

.nav-button{
    border:none;
}
.nav-list a {
    color: black;
    text-decoration: none;
}
.nav-list li:hover {
    transform: scale(1.1, 1.1);
    text-decoration: underline;
}
.bx-menu {
    display: none !important;
}
/* ------------------------------MAIN--------------------*/
main {
    margin-top: 50px;
}
.text-thin {
    font-weight: 100;
}
.main-text {
    width: 100%;
}
.main-text h1 {
    font-size: 3.2rem;
}
.main-text p {
    margin-top: 30px;
    font-weight: 300;
}
#icon {
    margin-top: 50px;
}
#icon i {
    border: 1px solid black;
    color: black;
    border-radius: 3px;
    padding: 10px;
    margin:1px;
}

#icon i.bxl-whatsapp  {
    background-color: black;
    color:white;   
}

.main-img img {
    width: 100%;
}

/* ------------------------------SECTION--------------------*/
.skills-text h1 {
    font-size:3.2rem;
    text-align: center;
    margin-top: 40px;
}

.skill-icon img {
    border: 1px solid black;
    border-radius: 3px;
    margin:10px;
    padding:10px;
}

.skill-icon img:last-child {
    background-color: black;
    color: white;
}

.skill-icon{
    text-align:center;
    margin-top:20px;
}
.experience-text h1 {
    font-size:3.2rem;
    text-align: center;
    margin-top: 40px;
    color:white;
    padding-top: 40px;
}
.experience{
    background-color: black;
    color:white;
    padding-bottom:40px;
}

.first{
    border: 1px solid rgb(59, 57, 57);
    padding:25px;
    margin:30px 80px 30px 80px;
    border-radius:8px;
}

.first p{
    margin-top: 15px;
    font-weight: 400;
    color:rgb(216, 216, 216);
    font-size: small;
}

.class{
    background-color: rgb(41, 40, 40);
}

/* ---------------------------ABOUT ME SECTION--------------------*/

#about{
    display: flex;
    align-items: center;
    padding-bottom:20px;
}
.writeup{
    margin-right:90px;
    margin-left:-80px;
}
.image img{
    width:70%;
    border: 1px solid black;
    border-radius:10px;
    margin-top: 80px;
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:-20px;
    margin-left:80px;
}
#about h1{
    margin-top:60px;
    margin-bottom: 20px;
    font-size:3.2rem;
    
}
#about p{
    margin-top:15px;
    margin-bottom: 20px;
}

.writeup p a{
    border:1px solid black;
    background-color: black;
    color:white;
    text-decoration: none;
    border-radius:3px;
    padding:2px;
}

/* ---------------------------PROJECTS--------------------*/

#projects{
    background-color: black;
}

#projects h1{
    color:white;
    font-size:3.2rem;
    text-align: center;
    padding-top: 40px;
}

.pm, .mp{
    display:flex;
    color:white;
    margin-top: 40px;
    margin-left:50px;
    margin-right:50px;
    align-items: center;
    padding-bottom:40px;
}

.pm-image img, .mp-image img {
    border-radius:20px;  
    padding:5px; 
    align-items: center;
    width:50%;
}

.pm-image, .mp-image{
    border: 1px;
    align-items: center !important;
    display: flex;
    
}

.pm-texts{
    width:100%;
    margin-left:50px;
}

.pm-texts h2, .mp-texts h2{
    margin-bottom:20px;
    font-style: oblique;
    font-size:30px;
}

.pm-texts h3, .mp-texts h3{
    margin-bottom:20px;
    font-size:15px;
}
.pm-texts h4, .mp-texts h4{
    margin-top:5px;
    font-size:15px;
    font-style: italic;
}

.mp-texts{
    width:100%;
    margin-right:50px;
}

/*project css ends*/


.testimonial{
    margin-left:70px;
    margin-right:70px;
    padding-top:40px;
    padding-bottom:40px;
}

.testimonial h1{
    font-size:3.2rem;
    text-align: center;
}

.feedback{
    display:flex;
}

.feedback-1{
    margin-left:10px;
 margin-top: 30px;
    text-align: center; 
    border: 3px solid rgb(247, 245, 245);  
    border-radius: 10px;
    padding-left:10px;
    padding-right:10px;
    padding-top: 10px;
    padding-bottom:20px;
}
.feedback-1 p{
    margin-bottom:20px;
    margin-top:10px;
} 
.card{
    background-color: black;
    color: white;
}

hr{
    width:50%;
   margin:auto;
}

.feedback-1 h5{
    margin-top:20px;
}

.input{
    display: flex;
    padding-left:70px;
    padding-right:70px;
    padding-top: 40px;
    display: flex;
    gap: 30px;
    align-items: center;
    
}

.tagline{
    width:100%;
}

.tagline p{
    margin-bottom:20px;
    margin-top:20px;
    color:gray;
}

.label{
    display:inline-block;
    margin-top:10px;
}

#name, #email, #website, #comment{
    padding:10px;
    width:100%;
}
#icons i{
    border: 1px solid black;
    color: black;
    border-radius: 3px;
    margin:5px;
    padding: 10px;
}

#icons input{
    border: 1px solid black;
    color: black;
    border-radius: 3px;
    padding:10px;
    background-color: black;
    color:white;
    margin-right:5px;
}

#icons i.bxl-whatsapp{
    background-color:black;
    color: white;
}

textarea{
    resize: none;
}

#submit{
    font-size:15px;
}

footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin-top:40px;
}

.name,.address{
    color:white;
}
.name{
    font-size:20px;
    padding:20px;
    padding-left: 70px;
}
.address{
    font-size:15px;
    text-align: end;
    padding:10px;
}


/*=-====================responsivesness*/
@media (max-width:768px) {
    .nav-button,
    .nav-list {
        display: none;
    }

    main {
        flex-direction: column;
        gap: 40px;
        margin-top: 70px;
        margin-left:20px !important;
        margin-right:20px !important ;
    }
 .main-text h1{
    font-size:2.0rem;
 }
    .bx-menu {
        display: block !important;
        font-size: 25px;
    }

    .main-img{
        order:-1;
    }

    .main-text{
        text-align: left !important;
    }
        
   
    .skills-text h1 {
        font-size:2rem;
        margin-top: 100px;
    }

    .skill-icon img {
        width:30% !important;
        padding:3px;
    }

    .skill-icon{
        width:100%;
        margin:2px !important;
    }


    .experience-text h1 {
    font-size:2rem;
}

.first{
    border: 1px solid rgb(59, 57, 57);
    padding:20px;
    margin:20px 20px 20px 20px;
    border-radius:8px;
}

#about{
    flex-direction: column;
}
.writeup{
    margin-right:20px;
    margin-left:20px;
}
.image img{
    width:100% !important;
    margin-top:30px;
}
#about h1{
    font-size:2rem;   
}
.writeup p a{
    font-size:12px;
} 

#projects h1{
    font-size:2rem;
}

.pm, .mp{
   flex-direction: column;
    color:white;
    margin-top:20px;
    padding-bottom:40px;
    margin-left:20px;
    margin-right:20px;
}

.pm-image img, .mp-image img {
    border-radius:20px;  
    width:100% !important;
    padding:3px; 
}

.pm-image, .mp-image{
    border: 1px;
    flex-direction: column;
    order:-1;
    margin-bottom:10px;
    
}

.pm-texts{
    margin-left:10px !important;
}

.pm-texts h2, .mp-texts h2{
    margin-bottom:20px;
    font-style: oblique;
    font-size:30px;
}

.pm-texts h3, .mp-texts h3{
    margin-bottom:20px;
    font-size:15px;
}
.pm-texts h4, .mp-texts h4{
    margin-top:5px;
    font-size:15px;
    font-style:italic;
}

.mp-texts{
    margin-left:60px !important;
}

.testimonial{
    margin-left:20px;
    margin-right:20px;
    padding-top:40px;
    padding-bottom:40px;
}

.testimonial h1{
    font-size:2rem;
    text-align:center;
}

.feedback{
    flex-direction: column;
}

.input{
    flex-direction: column;
    padding-left:20px;
    padding-right:20px;
}


#icons input{
   display: block;
}

#icons i{
   margin-top: 20px;
   margin-left:5px;
}

.tagline h1{
    font-size:1.5rem;
}

.name{
    font-size:20px;
    padding:20px;
    padding-left: 20px;
}
}

@media (max-width:1250px){
     .main-text h1{
    font-size:2rem;
    width:100% !important;
 }

 .main-img{
    width:100%;
 }

 #about{
    flex-direction: column;
}
.image img{
    width:50% !important;
    margin-left:100px !important;
}

.writeup{
    margin-right:50px;
    margin-left:50px;
}

.image img{
    width:70% !important;
    margin-top:30px;
    text-align: center;
    margin-left:10px;
    margin-right:10px;
}
.writeup p a{
    font-size:10px;
}

.pm, .mp{
    margin-top:20px;
    padding-bottom:40px;
    margin-left:50px;
    margin-right:50px;
}

.pm-image img, .mp-image img {
    border-radius:20px;  
    width:100%;
    padding:3px; 
}
.pm-image, .mp-image{
    border: 1px;
    flex-direction: column;
    margin-bottom:10px; 
}


.testimonial{
    margin-left:50px;
    margin-right:50px;
    padding-top:40px;
    padding-bottom:40px;
}

.testimonial h1{
    font-size:2rem;
    text-align:center;
}

.feedback{
    flex-direction: column;
}

.input{
    padding-left:50px;
    padding-right:50px;
    width:100% !important;
}


#icons i{
   margin-top: 20px;
   margin-left:5px;
}

.tagline h1{
    font-size:1.5rem;
}

.name{
    font-size:20px;
    padding:20px;
    padding-left: 50px;
}

#icons input{
   display: block;
}

 
}